body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    
    width: 1200px;  
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-nav {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold; 
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}
.site-navigation a {
    color: #000000;   
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: red;
}

.main-header-logo {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0;
    transform: translate(-50%);
}

.greeting {
    text-align: center;
    
    background-color: skyblue;
    background-image: url(../img/white.png), url(../img/background%20photo.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 100%, 0 0;
}

.greeting img { 
    margin-top: 70px;
    margin-bottom: 70px;
}

.features-header {
    margin-top: 60px;
    margin-bottom: 40px; 
    text-align: center;
}

.features {
    display: flex;
    justify-content: space-between;
    
    height: 260px;
}

.features-logo img {
    width: 800px;
    height: 260px;
    background-size: contain;
}

.features-header  {
    width: 590px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.arizona {
    padding: 0 50px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.causes {
    font-size: 14px; 
    line-height: 26px;
    color: #333333;
}

.features-item {
    text-align: center;
}

.features-item h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    
    padding-top: 45px;
}

.features-item p {
    width: 285px;
    
    font-size: 14px;
    line-height: 26px;
    color: #333333;
}

.white {
    width: 400px;
    color: #ffffff;
    background-color: #83B3D0;
}

.white p {
    margin: auto;
    padding-bottom: 20px;
    color: #ffffff;
}

.grey {
    justify-content: space-around;
    
    background-color: #EEEEEE;
}

.services-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    
    height: 260px;
}

.services-item {
    text-align: center;
}

.services-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.services-item p {
    width: 285px;
    
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.search {
    width: 560px;
    margin: auto;
    text-align: center;
}

.search h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.search p {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
}

.search form {
    position: absolute;
    width: 450px;
    padding: 57px;
    
    background-color: #ffffff;
    text-align: left;
}
.user p {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

.search-item input {
  font: inherit;

  background-color: #F1F2F3;
}
.search-item input:hover {
    background-color: #EAEBEC;
}
.search-item input:focus {
    border: 2px solid #E4E5E6;
}
.search-item input:active {
    background-color: #EAEBEC;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.blue {
    width: 450px;
    height: 60px;
    
    background-color: #649DC1;
    border-radius: 0;
}
.blue:hover {
    background-color: #649DC1;
}
.blue:focus {
    background-color: #649DC1;
}
.blue:active {
    color: #86B8D2;
    background-color: #5396BE;
}

.search-btn {
    margin: 0;
    padding: 48px 133px; 

    background-color: #756358;
}
.search-btn a {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
}
.search-btn:hover {
    background-color: #756358;
}
.search-btn:focus {
    background-color: #5E4E44;
}
.search-btn:active {
    color: #827870;
    background-color: #4E3E34;
}


.map {
    height: 450px;

    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
}

.filters form {
    display: flex;
    justify-content: space-around;
    background-image: url(../img/filter-bg.jpg);
}

.filter-range {
    width: 330px;
    margin: 50px auto;
    
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 9px;

    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
  
    height: 36px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;

    background: #ffffff;
}

.sorting {
    display: flex;
    justify-content: space-around;
    
    border-bottom: 2px solid #E4E4E4;
}

.catalog-item {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    border-bottom: 2px solid #E4E4E4;
}

.catalog-item-image {
    width: 135px;
}

.catalog-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 260px;
    margin: 0 30px;
}

.catalog-description > h2:first-child {
    width: 500px;
   
}
.catalog-yet {
    width: 110px;
    
    background-color: antiquewhite;
}

.catalog-reservation {
    width: 140px;
    
    background-color: aqua;
}
.catalog-description h2 {
    margin: 0;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.catalog-rating {
    margin-left: auto;
}
.catalog-rating-star {
    width: 110px;
}

.rate {
    width: 30px;
    height: 30px;
    background-image: url(../img/filter-bg.jpg);
}

.catalog-rating-text {
    width: 110px;
    height: 28px;
    
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    
    background-color: #F2F2F2;
}
.main-footer {
    padding: 40px 0;
  
    background-image: transparent;
}

.main-footer .container {
    display: flex;
}

.hashtag {
    width: 395px;
    margin: 0;
    margin-left: 130px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.footer-social {
    width: 145px;
    text-align: center;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 141px;
    margin: 0 auto;
    padding: 0;
  
    list-style: none; 
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;

    background-color: #83B3D0;
}

.copyright {
    width: 200px;
    margin: 0;
    margin-left: auto;
}

.copyright b {
    font-size: 14px;
    line-height: 26px;
}

.copyright::before {
    width: 120px;
    height: 41px;
    
    background-image: url(../img/logo_name.svg);
}