body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.center {
    width: 1200px;  
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.5); 
    background-color: #ffffff;
}
a {
    text-decoration: none;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-nav {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    
    background-color: #ffffff;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    color: #000000;
    margin: 0; 
    padding: 15px 70px;
}

.site-navigation li:nth-child(2) {
    margin-left: 149px;
}
.site-navigation li:nth-child(3) {
    margin-left: 388px;
}
.site-navigation li:nth-child(4) {
    margin-left: 165px;
}

.site-navigation a.site-navigation-hotels,
.site-navigation a.site-navigation-hotels::after,
.site-navigation a.site-navigation-hotels:hover {
    color: #766357;
}

.site-navigation a:hover {
    color: #81b3d2;
}
.site-navigation a:active {
    color: #cacaca;
}

.main-header-logo { 
    position: absolute; 
    left: 50%; 
    top: 0; 
    transform: translateX(-50%); 
}

.greeting {
    text-align: center;
    
    background-color: skyblue;
    background-image: url(../img/white.png), url(../img/background%20photo.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 100%, 0 -56px;
}

.greeting img { 
    margin-top: 76px;
    margin-bottom: 74px;
}

.features {
    display: flex;
    justify-content: space-between;
    
    height: 260px;
}

.features-header  {
    width: 590px;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 35px;
    
    background-color: #ffffff;
}

.arizona {
    padding-bottom: 5px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.causes {
    font-size: 14px; 
    line-height: 26px;
    color: #333333;
}

.features-logo img {
    width: 800px;
    height: 260px;

    position: 40px 40px;
}

.features-item {
    text-align: center;
}

.features-item h3 {
    width: 150px;
    margin: auto;
    padding-top: 45px;
    padding-bottom: 24px;
    
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.features-item p {
    width: 280px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.white {
    width: 400px;
    color: #ffffff;
    background-color: #83B3D0;
}

.white h3 {
    padding-top: 48px;
    padding-bottom: ;
}

.white p {
    width: 320px;
    margin: auto;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.grey {
    justify-content: space-around;
    background-color: #eeeeee;
}

.services-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    
    padding: 0;
    margin: 58px 0;
    margin-bottom: 67px;
}

.services-item {
    text-align: center;
}

.services-item svg {
    width: 74px; 
    height: 70px;
    
}

.services-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    padding-top: 4px;
}

.services-item p {
    width: 285px;
    padding-top: 3px;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.search {
    width: 570px;
    margin: auto;
    text-align: center;
}

.search h3 {
    margin-top: 45px;
    margin-bottom: 22px;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.search p {
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}

.search-form {
    display: none;
}

.search-show {
    display: flex;
    flex-wrap: wrap;
    width: 456px;

    position: absolute;
    padding: 52px 58px;
   
    background-color: #ffffff;
    
}

.search-form p {
    margin: 0;
    margin-bottom: 30px;
    
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

.search-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 456px;
}

.search-item input[type="text"] {
    box-sizing: border-box;
    width: 345px;
    height: 38px;
    padding: 6px 10px;
    padding-right: 40px;
    
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
}

.calendar-icon {
    background-image: url("../img/calendar.svg");
    background-position: 313px center;
    background-repeat: no-repeat;
}

.search-people {
    display: flex;
    justify-content: space-between;
    width: 456px;
}

.minus-icon {
    width: 38px;
    height: 38px;

    background-image: url(../img/-grey.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f2f2f2;
    border-radius: 0;
    border: none;
    
}
.minus-icon:hover {
    background-image: url(../img/-black.png);
}
.minus-icon:active {
    background-image: url(../img/-blue.png);
}
.plus-icon {
    width: 38px;
    height: 38px;
    background-image: url(../img/+grey.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f2f2f2;
    border-radius: 0;
    border: none;
}

.plus-icon:hover {
    background-image: url(../img/+black.png);
}
.plus-icon:active {
    background-image: url(../img/+blue.png);
}
.search-people input[type="text"] {
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    padding: 6px 1px;
    text-align: center;
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
}

.search-item input:hover {
    background-color: #ebebeb;
}
.search-item input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.search-item:last-child label {
    margin-left: auto;
    padding-right: 23px;
}

.search-people .search-item:first-child label {
    margin-left: auto;
    padding-right: 40px;
}
.search .button {
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    margin-right: 0;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    
    background-color: #81b3d2;
    border-radius: 0;
}

.search .button:hover {
    background-color: #669ec0;
}
.search .button:focus {
    background-color: #649DC1;
}
.search .button:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.brown {
    display: block;
    padding: 30px 138px;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #756358;
}
.brown:hover {
    background-color: #604e43;
}
.brown:active {
    color: #857871;
    background-color: #503e33;
}


.map {
    height: 590px;

    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
}

.filters-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(../img/filter-bg.jpg);
    background-color: #000203;
    color: #ffffff;
}

.filters-form label {
    position: relative;
    cursor: pointer; 
    padding-left: 40px;
}

.infrastructure label::before,
.housing label::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 23px;
    height: 23px;
    
    background-image: url(../img/checkbox-off.svg);
}

.filters-form input[type="checkbox"]:checked ~ label::before {
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-on.svg);
}

.filters-form input[type="checkbox"] {
    display: none
}

.filter-range {
    color: #ffffff;
    text-transform: uppercase;
    
    border: none;
}

.filter-range p {
    margin-bottom: 25px;
}

.infrastructure {
    width: 150px;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 15px;
    margin-bottom: 0;
}

.housing {
    width: 150px;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 70px;
    margin-right: auto;
}

.cost {
    width: 320px;
    margin-top: 30px;
    margin-right: 60px;
}

.filter-range-cost {
    display: flex;
    flex-direction: column;
}

.filter-range-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
  
    height: 32px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 80px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 25px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    margin-left: 100px;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

.sorting {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-size: 12px;
    line-height: 18px;
    border-bottom: 1px solid #E4E4E4;
}


.sorting-found {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    
    margin: 30px 50px 30px 70px;
}

.sorting-text {
    font-size: 12px;
    line-height: 18px;
}

.sorting ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 238px;
    
    padding: 0 40px;
  
    list-style: none; 
}

.sorting-type a {
    color: #cacaca;
    
    border-bottom: 1px dotted #81b3d2;
}

.sorting-type a:hover {
    color: #81b3d2;
}

.sorting-type a:active {
    color: #000000;
    border: none;
}

.sorting-type a.breadcrumbs,
.sorting-type a.breadcrumbs::after,
.sorting-type a.sorting-type:active {
    color: #81b3d2;
    
    border: none;
}

.check-boxes {
    display: flex;
    justify-content: space-between;
    width: 35px;
    margin-left: auto;
    margin-right: 73px;
}

.check-boxes-top polygon:hover {
    fill: #000000;
}

.check-boxes-top polygon:active {
    fill: #81b3d2;
}

.check-boxes-top polygon:focus {
    fill: #81b3d2;
}

.check-boxes-bottom polyline:hover {
    fill: #000000;
}

.check-boxes-bottom polyline:active {
    fill: #81b3d2;
}

.check-boxes-bottom polyline:focus {
    fill: #81b3d2;
}

.catalog-item {
    display: flex;
    justify-content: space-between;
    padding: 27px 74px;
    border-bottom: 1px solid #E4E4E4;
}

.catalog-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 255px;
    margin: 0 30px;
}

.catalog-description a:hover {
    color: #81b3d2;
}
.catalog-description a:active {
    color: #cacaca;
}

.catalog-description h2 {
    margin: 0;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.catalog-description > h2:first-child {
    width: 450px;   
}

.catalog-yet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 110px; 
}

.catalog-yet .catalog-blue {
    padding: 3px 15px;
    color: #ffffff;
    background-color: #81b3d2;
}

.catalog-yet .catalog-blue:hover {
    color: #ffffff;
    background-color: #669ec0;
}

.catalog-yet .catalog-blue:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.catalog-reservation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 140px; 
}

.catalog-reservation .catalog-brown {
    padding: 3px 10px;
    
    background-color: #766357;
    color: #ffffff;
}

.catalog-reservation .catalog-brown:hover {
    color: #ffffff;
    background-color: #604e43;
}

.catalog-reservation .catalog-brown:active {
    color: #857871;
    background-color: #503e33;
}

.catalog-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;

    text-align: right;
}

.catalog-rating-text {
    width: 110px;
    margin: 0;
    padding: 7px 0;
    
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    
    background-color: #F2F2F2;
}
.main-footer { 
    padding: 35px 0;
    background-color: #ffffff;
}

.footer-index {
    margin-top: -120px;
    opacity: 0.5;
}

.main-footer .container {
    display: flex;
    align-items: baseline;
}

.hashtag {
    width: 395px;
    margin: 0;
    margin-left: 132px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.footer-social {
    width: 150px;
    text-align: center;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;
    padding: 0;
  
    list-style: none; 
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;

    background-color: #81b3d2;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:active path {
    background-color: #5496bd;
    fill: #88b6d1; 
}

.copyright {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.academy {
    width: 115px;
    margin-left: 10px;
    margin-right: 100px;
}
.academy:hover path {
    fill: #81b3d2;
}

.academy:active path {
    fill: #cacaca;
}