body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
}

.center {
    width: 1200px;  
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-nav {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    color: #000000;
    margin: 20px 70px; 
    padding: 0 0;
}

.site-navigation li:nth-child(2) {
   margin-right: 120px;
}

.site-navigation a:hover {
    color: #81b3d2;
}
.site-navigation a:active {
    color: #cacaca;
}

.main-header-logo { 
    position: absolute; 
    left: 50%; 
    top: 0; 
    transform: translateX(-50%); 
}

.greeting {
    text-align: center;
    
    background-color: skyblue;
    background-image: url(../img/white.png), url(../img/background%20photo.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 100%, 0 0;
}

.greeting img { 
    margin-top: 70px;
    margin-bottom: 70px;
}

.features-header {
    margin-top: 60px;
    margin-bottom: 40px; 
    text-align: center;
}

.features {
    display: flex;
    justify-content: space-between;
    
    height: 260px;
}

.features-logo img {
    width: 800px;
    height: 260px;
    background-size: contain;
}

.features-header  {
    width: 590px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.arizona {
    padding: 0 50px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.causes {
    font-size: 14px; 
    line-height: 26px;
    color: #333333;
}

.features-item {
    text-align: center;
}

.features-item h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    
    padding-top: 45px;
}

.features-item p {
    width: 285px;
    
    font-size: 14px;
    line-height: 26px;
    color: #333333;
}

.white {
    width: 400px;
    color: #ffffff;
    background-color: #83B3D0;
}

.white p {
    margin: auto;
    padding-bottom: 20px;
    color: #ffffff;
}

.grey {
    justify-content: space-around;
    
    background-color: #EEEEEE;
}

.services-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    
    margin: 60px 0;
    margin-bottom: 80px;
}

.services-item {
    text-align: center;
}

.services-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.services-item p {
    width: 285px;
    
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.search {
    width: 570px;
    margin: auto;
    text-align: center;
}

.search h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.search p {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
}

.search-form {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    
    width: 456px;
    padding: 57px;
    
    background-color: #ffffff;
    text-align: left;
}

.search-show {
    display: flex;
}

.search-form p {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

.search-item {
    display: flex;
    align-items: baseline;
    width: 460px;
}

.quantity {
    width: 220px;
}

.search-item label {

}
.search-item input {
    width: 330px;
    margin-left: 25px;
    font: inherit;
    color: #000000;
    
    background-color: #f2f2f2;
}
.search-item input:hover {
    background-color: #ebebeb;
}
.search-item input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.search .button {
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 40px;
    margin-right: 0;
    
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    
    background-color: #81b3d2;
    border-radius: 0;
}

.search .button:hover {
    background-color: #669ec0;
}
.search .button:focus {
    background-color: #649DC1;
}
.search .button:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.brown {
    display: block;
    padding: 38px 138px;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #756358;
}
.brown:hover {
    background-color: #604e43;
}
.brown:active {
    color: #857871;
    background-color: #503e33;
}


.map {
    height: 450px;

    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
}

.filters-form {
    display: flex;
    justify-content: space-around;
    background-image: url(../img/filter-bg.jpg);
    background-color: #000203;
    
    color: #ffffff;
}

.filters-form label {
    position: relative;
    cursor: pointer; 
    
    padding-left: 30px;
}

.infrastructure label::before,
.housing label::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 23px;
    height: 23px;
    
    background-image: url(../img/checkbox-off.svg);
}

.filters-form input[type="checkbox"]:checked ~ label::before {
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-on.svg);
}

.filters-form input[type="checkbox"] {
    display: none
}

.filter-range {
    margin: 50px 70px;
    
    color: #ffffff;
    text-transform: uppercase;
    
    border: none;
}

.infrastructure {
    width: 150px;
    margin-right: 60px;
}

.housing {
    width: 150px;
    margin-left: 60px;
    margin-right: auto;
}

.cost {
    width: 330px;
}

.filter-range-title {
    margin-bottom: 9px;

    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
  
    height: 36px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;

    background: #ffffff;
}

.sorting {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    
    font-size: 12px;
    line-height: 18px;
    
    border-bottom: 2px solid #E4E4E4;
}

.sorting-found {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    
    padding: 0 50px;
    margin-top: 10px;
    margin-bottom: 35px;
}

.sorting-text {
    font-size: 12px;
    line-height: 18px;
}

.sorting ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 250px;
    
    padding: 0 40px;
  
    list-style: none; 
}

.sorting-type a {
    color: #cacaca;
    
    border-bottom: 1px dotted #81b3d2;
}

/*
Хлебные крошки
.sorting-type {
     color: #81b3d2;
     border: none;
}
*/

.check-boxes {
    display: flex;
    justify-content: space-between;
    width: 35px;
    margin-left: auto;
    margin-right: 70px;
}

.check-boxes-top polygon:hover {
    fill: #000000;
}

.check-boxes-top polygon:active {
    fill: #81b3d2;
}

.check-boxes-top polygon:focus {
    fill: #81b3d2;
}

.check-boxes-bottom polyline:hover {
    fill: #000000;
}

.check-boxes-bottom polyline:active {
    fill: #81b3d2;
}

.check-boxes-bottom polyline:focus {
    fill: #81b3d2;
}

.catalog-item {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    border-bottom: 2px solid #E4E4E4;
}

.catalog-item-image {
    width: 135px;
}

.catalog-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 260px;
    margin: 0 30px;
}

.catalog-description a:hover {
    color: #81b3d2;
}
.catalog-description a:active {
    color: #cacaca;
}

.catalog-description h2 {
    margin: 0;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    
    border: 2px solid #ff0000;
}

.catalog-description > h2:first-child {
    width: 500px;
   
}
.catalog-yet {
    width: 110px;
    
    border: 2px solid #ff0000;
}
.catalog-yet .catalog-blue {
    padding: 7px 15px;
    
    color: #ffffff;
    background-color: #81b3d2;
}

.catalog-yet .catalog-blue:hover {
    color: #ffffff;
    background-color: #669ec0;
}

.catalog-yet .catalog-blue:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.catalog-reservation {
    width: 140px;
    
    border: 2px solid #ff0000;
}

.catalog-reservation .catalog-brown {
    padding: 7px 15px;
    
    background-color: #766357;
    color: #ffffff;
}

.catalog-reservation .catalog-brown:hover {
    color: #ffffff;
    background-color: #604e43;
}

.catalog-reservation .catalog-brown:active {
    color: #857871;
    background-color: #503e33;
}

.catalog-rating {
    margin-left: auto;
    
    text-align: right;
}

.catalog-rating-text {
    width: 110px;
    height: 28px;
    margin-top: 50px;
    
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    
    background-color: #F2F2F2;
}
.main-footer {
    padding: 40px 0;
  
    background-image: transparent;
}

.main-footer .container {
    display: flex;
}

.hashtag {
    width: 395px;
    margin: 0;
    margin-left: 130px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.footer-social {
    width: 145px;
    text-align: center;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 141px;
    margin: 0 auto;
    padding: 0;
  
    list-style: none; 
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;

    background-color: #81b3d2;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button path:active {
    background-color: #5496bd;
    fill: #88b6d1; 
}

.copyright {
    margin-left: auto;
    margin-right: 70px;
}

.academy path:hover {
    fill: #81b3d2;
}

.academy path:active {
    fill: #cacaca;
}